 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>О нас</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Мы небольшая команда разработчиков, обожающих современные технологии. Нам нравится создать красивые и продуманные продукты, которые помогают людям достигать большего.</p>
                </div>
                <div class="col-lg-4">
                    <p>Наш текущий тек разработки: Meteor, Node.js, Javascript, SASS, MongoDB и все это крутится на Digital Ocean</p>
                </div>
            </div>
        </div>
    </section>